@page
@model MartketOrtz.Pages.GestionCategoriaModel
@{
    ViewData["Title"] = "Gestion de Categorias";
}

<div class="container mt-4">
    <h2>Gestión de Categorías</h2>

    <div class="card mb-4">
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Nombre de la Categoría</label>
                    <input asp-for="Categoria.Nombre" type="text" name="nombreCategoria" class="form-control" placeholder="Ej: Lacteos" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <input asp-for="Categoria.Descripcion" type="text" name="descripcionCategoria" class="form-control" placeholder="Ej: Leches, quesos, yogures..." required />
                </div>

                <button type="submit" class="btn btn-primary">Agregar Categoría</button>
            </form>
        </div>
    </div>

    <hr />
    <h3>Lista de Categorias</h3>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categoria)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
            </tr>
            }
        </tbody>
    </table>
</div>


