@page
@model IndexModel
@{
    ViewData["Title"] = "Minimarket ORTZ";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a MiniMarket Ortz</h1>
    <p class="lead">Seleccione una opcion del sistema para comenzar:</p>

    <div class="mt-4">
        <a href="/GestionCategoria" class="btn btn-success btn-lg m-2">Gestión de Categorías</a>
        <a href="/GestionProducto" class="btn btn-primary btn-lg m-2">Gestión de Productos</a>
        <a href="/GestionVenta" class="btn btn-warning btn-lg m-2">Gestión de Ventas</a>
    </div>
</div>